*{
    margin: 0;
    padding: 0;
    font-family:cursive;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
}
.container{
    width: 350px;
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2em;
    gap: 2em;
    background-color: white;
    border: 1px solid rgb(217,217,217);
    box-shadow:5px 5px 25px rgb(5, 5, 5);
    padding: 1em;

}
h1{
    font-size: 3em;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.9em;

}
p{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:10px;
}
p input{
     border-radius: 0.5em;
     padding: 0.5em;
     font-size: 1em;
     border: 2px solid black;
}
p input:focus{
    background-color:rgb(244,244,244) ;

}
button{
    padding: 0.5em;
    background-color:rgb(241,83,15) ;
    border-radius: 0.5em;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;

}
button:hover{
    background-color: white;
    border: 2px solid rgb(241,83,15);
    color:rgb(241,83,15);
    transform: scale(1.02);
}
.weight-guide{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}
span{
    padding: 0.5em;
    font-size:1.8em;
    font-weight: 700;
}