.container-word-counter {
padding:75px;
font-family: sans-serif;
text-align: center;
}
.container-word-counter h2{
    font-size: 42px;
    color:rgb(125, 7, 80) ;
}
.container-word-counter textarea{
    width: 100%;
    height: 200px;
    border: 3px solid rgb(242, 97, 186);
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    resize: none;
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(40, 0, 40), rgb(80, 0, 60));
    color: white; 
}
button{
    padding: 16px 48px;
    margin: 32px;
    font-size:16px;
    font-weight: bold;
    cursor: pointer;
    background-color:rgb(242, 97, 186) ;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all 500ms ease;
}
button:hover{
    background-color:rgba(242, 97, 186, 0.871);
}
.word-count{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color:rgb(125, 7, 80) ;
}
.word-count span{
    font-size: 40px;
    font-weight: bold;
    color:rgb(125, 7, 80) ;
}
.char-count{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color:rgb(125, 7, 80) ;
}
.char-count span{
    font-size: 18px;
    font-weight: bold;
    color:rgb(125, 7, 80) ;
}

body {
    background: linear-gradient(to right, rgb(255, 230, 240), rgb(255, 200, 220));
}



